<h1>Countries</h1>


	<h2><%= @countries.name_of_country %></h2>
	<p>Population: <%= @countries.population_of_country %></p> 
	<p><%= @countries.flag_url %></p> 
	<img src="<%= @countries.flag_url%>" class="flags" alt="Jamaican Flag" height="300" width="500">
	<p>Official Language: <%= @countries.first_language %></p> 
	<p>President/Prime Minister: <%= @countries.name_of_preseident %></p> 
	<br>
	<a href="/countries">Home Page</a>
